@import "_variables";

html, body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h2, h3, h4 {
    font-weight: 600;
}

a, a:visited {
    transition: color .25s ease-in-out;
    color: $color-link;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}

p {
    margin-top: 0;
}

.o-page-wrapper {
    display: flex;
    min-height: 100%;
}

.o-sidebar {
    flex-basis: 300px;
    padding: 32px 16px;
    border-right: 1px solid $color-2;
    background-color: $color-side-bg;
}

.o-main {
    flex-grow: 1;
    flex-basis: 600px;
    padding: 32px 16px;
    background-color: $color-main-bg;
    overflow-x: hidden;
    max-width: 800px;
    font-size: 20px;
    line-height: 30px;
}

@media only screen and (max-width: $bp-mobile) {
    .o-page-wrapper {
        flex-direction: column;
    }

    .o-sidebar {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        padding: 32px 0 0;

        &__block {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            padding: 16px 0 24px;
            background: $color-2;
            border-top: 1px solid;
            border-color: #cacaca;
        }
    }

    .o-main {
        flex-basis: auto;
    }
}