@import "_variables";

html, body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-text;
}

* {
    box-sizing: inherit;
}

h2, h3, h4 {
    font-weight: 600;
}

h1, h2, h3, h4 {
    a {
        font-weight: inherit;
    }
}

a, a:visited {
    transition: color .25s ease-in-out;
    color: $color-link;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}

p {
    margin-top: 0;
}

.o-page-wrapper {
    display: flex;
    flex-direction: column;
}

.o-main {
    padding: 32px 16px;
    background-color: $color-main-bg;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 30px;
}