/**
 * Color Definitions
 */
$color-black: #000000;
$color-white: #ffffff;

$color-2: rgb(217, 221, 226);
$color-3: #cacaca;
$color-4: #f2f5f9;

$color-main-bg: $color-white;
$color-side-bg: $color-4;

$color-text: #212529;
$color-link: #3c3c3c;
$color-link-hover: #858789;

$color-grey-muted: #858789;

/**
 * Breakpoints
 */
$bp-mobile: 900px;

/**
 * Spacing
 */
$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
