$color-main-bg: #ffffff;
$color-side-bg: #f2f5f9;

$color-link: #3c3c3c;
$color-link-hover: #858789;

$color-grey-muted: #858789;

$color-black: #000000;
$color-white: #ffffff;

$color-2: #d9dde2;

$bp-mobile: 900px;