@import "../_variables";

.c-menu {
    padding: 0;

    &__list {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__list-item {
        flex: 0 0 auto;
    }

    &__link {
        display: block;
        padding: 8px 16px;
    }
}