@import "../_variables";

.c-mind {
    color: #856404;
    background: #fff3cd;
    border: 1px solid #856404;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 24px;

    > p:last-child {
        margin-bottom: 0;
    }
}