@import "../_variables";

.c-post-preview {
  border: 1px solid grey;
  padding: 8px;

  &__title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 14px;
    font-weight: normal;
  }
}
