@import "../_variables";

.c-update {
    border: 1px solid $color-2;
    border-radius: 4px;
    padding: $space-1;
    margin-bottom: $space-3;

    > p:last-child {
        margin-bottom: 0;
    }
}