@import "_variables";

.highlight {
    overflow-x: auto;
    border: 1px solid $color-2;
    border-radius: 4px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;

    pre {
        margin: 0;
    }

    .rouge-gutter,
    .gutter {
        background-color: $color-side-bg;
        padding: 8px;
        user-select: none;
    }

    .rouge-code,
    .code {
        padding: 8px 4px;
    }
}

code.highlighter-rouge {
    padding: 2px 6px;
    border: 1px solid #d9dde2;
    border-radius: 4px;
    background: #f2f5f9;
    color: #d14;
    font-size: 18px;
}