@import "_variables";

.c-experience {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    &__header {
        font-size: 20px;
        line-height: 24px;
    }

    &__content {
        line-height: 24px;
    }

    &__title {
        line-height: 20px;
    }

    &__date {
        flex: 0 0 75px;
        margin-right: 32px;
        padding-top: 5px;
        line-height: 20px;
    }
}


@media only screen and (min-width: $bp-mobile) {
    .c-experience {
        &::before {
            display: block;
            position: absolute;
            top: 11px;
            left: -23px;
            width: 6px;
            height: 6px;
            background-color: $color-4;
            border: 2px solid $color-3;
            border-radius: 50%;
            content: "";
        }
    }

    .c-experience-list {
        border-left: 4px solid $color-2;
        margin-left: $space-3;
        padding-left: $space-2;
    }
}