@import "_variables";

.c-more-posts {
    &__list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__list-item {
        border: 1px solid black;
        border-radius: 4px;
        padding: 16px;
        margin: 0 16px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}