@import "_variables";

.c-page {
    &__title {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 28px;
    }

    &__content {
        figure {
            margin-left: 0;
            padding-left: 40px;
        }

        h2 {
            font-size: 24px;
        }

        a {
            text-decoration: none;
        }
    }
}