@import "_variables";

.c-post {
    &--front {
        margin-bottom: 32px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 28px;
    }

    &__date {
        color: $color-grey-muted;
    }

    &__categories {
        margin: 0;
        padding: 0;
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid $color-black;
        list-style: none;
        display: inline-flex;
        color: $color-grey-muted;
    }

    &__category {
        &:after {
            content: ", ";
        }

        &:last-child:after {
            content: none;
        }
    }

    &__category + &__category {
        margin-left: 8px;
    }

    &__content {
        max-width: 800px;
        font-size: 20px;
        line-height: 30px;

        figure {
            margin-left: 0;
            padding-left: 40px;
        }

        h2 {
            font-size: 24px;
        }

        a {
            text-decoration: none;
        }
    }

    &__info {
        border-top: 1px solid $color-2;
        padding-top: 8px;
        font-style: italic;
        color: $color-grey-muted;
    }
}