<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>

        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ site.author }}" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />

        {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:image" content="https://www.gravatar.com/avatar/{{ site.profile_icon_hash }}">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <meta name="twitter:card" content="summary">
        <meta property="og:site_name" content="Software Engineering by Thomas Prochazka">
        {% endif %}

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml"/>

        <style type="text/css">
            {% capture styles %}
                {% include main.scss %}
            {% endcapture %}
            {{ styles | scssify }}
        </style>

        <link media="print" rel="stylesheet" type="text/css" href="/styles/print.css" />
    </head>
    <body>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.ga_tracking_id }}');
        </script>
        {% include symbols.html %}
        <div class="o-page-wrapper">
            <aside class="o-sidebar">
                <section class="c-profile">
                    <img class="c-profile__icon" src="https://www.gravatar.com/avatar/{{ site.profile_icon_hash }}" />
                    <h2 class="c-profile__name">
                        <a href="/">
                            {{ site.author }}
                        </a>
                    </h2>
                    <span class="c-profile__sub">Dancer, Horseman and Software Engineer</span>
                    <ul class="c-profile__contacts">
                        <li class="c-profile__contact">
                            <a href="https://www.linkedin.com/in/prochazkathomas/" title="linkedin.com" target="_blank">
                                <svg class="c-profile__contact-icon">
                                    <use xlink:href="#icon-linked" />
                                </svg>
                            </a>
                        </li>
                        <li class="c-profile__contact">
                            <a href="https://github.com/zlypher" title="github.com" target="_blank">
                                <svg class="c-profile__contact-icon">
                                    <use xlink:href="#icon-github" />
                                </svg>
                            </a>
                        </li>
                        <li class="c-profile__contact">
                            <a href="https://twitter.com/SyjinX" title="twitter.com" target="_blank">
                                <svg class="c-profile__contact-icon">
                                    <use xlink:href="#icon-twitter" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </section>
                <div class="o-sidebar__block">
                    <nav class="c-menu">
                        <ul class="c-menu__list">
                            <li class="c-menu__list-item">
                                <a class="c-menu__link" href="/">
                                    Posts
                                </a>
                            </li>
                            <li class="c-menu__list-item">
                                <a class="c-menu__link" href="/about">
                                    About Me
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <main class="o-main">
                {{ content }}
            </main>
        </div>
    </body>
</html>