---
layout: default
---

<article class="c-post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header class="c-post__header">
        <h1 class="c-post__title" itemprop="name headline">{{ page.title }}</h1>
        <time class="c-post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>
        <ul class="c-post__categories">
            {% for category in page.categories %}
                <li class="c-post__category">{{ category | capitalize }}</li>
            {% endfor %}
        </ul>
    </header>
    <div class="c-post__content" itemprop="articleBody">
        {{ content }}
    </div>
    <p class="c-post__info">
        Please let me know if you have any suggestions or corrections to improve this post. Feedback is always appreciated.
    </p>
</article>
