---
layout: default
---

<article class="c-post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header class="c-post__header">
        <h1 class="c-post__title" itemprop="name headline">{{ page.title }}</h1>
        <time class="c-post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>
        <ul class="c-post__categories">
            {% for category in page.categories %}
                <li class="c-post__category">{{ category | split:"_" | join:" " }}</li>
            {% endfor %}
        </ul>
    </header>
    <div class="c-post__content" itemprop="articleBody">
        {{ content }}
    </div>
    <footer>
        <div class="c-post__share">
            <a class="c-post__share-link" target="blank" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}%20{{ page.url | absolute_url }}">
                <svg class="c-post__share-icon">
                    <use xlink:href="#icon-twitter" />
                </svg>
            </a>
            <a class="c-post__share-link" target="blank" href="http://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}&title={{ page.title | cgi_escape }}">
                <svg class="c-post__share-icon">
                    <use xlink:href="#icon-facebook" />
                </svg>
            </a>
        </div>
        <p class="c-post__info">
            Please let me know if you have any suggestions or corrections to improve this post. Feedback is always appreciated.
        </p>
    </footer>
</article>
