---
layout: default
---

<article class="c-post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header class="c-post__header">
        <time class="c-post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B, %Y" }}</time>
        <h1 class="c-post__title" itemprop="name headline">{{ page.title }}</h1>
    </header>
    <div class="c-post__content" itemprop="articleBody">
        {{ content }}
    </div>
    <footer>
        <div class="c-post__share">
            <a class="c-post__share-link" target="blank" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}%20{{ page.url | absolute_url }}">
                <span class="u-sr-only">Share via Twitter</span>
                <svg class="c-post__share-icon">
                    <use xlink:href="#icon-twitter" />
                </svg>
            </a>
            <a class="c-post__share-link" target="blank" href="http://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}&title={{ page.title | cgi_escape }}">
                <span class="u-sr-only">Share via Facebook</span>
                <svg class="c-post__share-icon">
                    <use xlink:href="#icon-facebook" />
                </svg>
            </a>
        </div>
        <p class="c-post__info">
            Please let me know if you have any suggestions or corrections to improve this post. Feedback is always appreciated.
        </p>
    </footer>
</article>
